.navContainer {
    background: black
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav li {
    display: flex;
    color: yellow;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px;
}

nav li:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

.navButton {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: yellow;
}
